@import "./theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, sans-serif;
}

html {
  background-color: var(--bg);
  color: var(--text);
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: all 0.2s ease;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

